*{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: normal;
}
.body {
    width: 100%;
    box-sizing: border-box;
    background-color: black;
    color: #E3B873;
}
.main-class {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
    row-gap: 45px;
    margin-top: 107px;
    margin-left: 134px;
    background-color: black;
    color: #E3B873;
}
.main-project{
    font-family: 'Yeseva One', sans-serif;
    font-size: 27px;
 }
.main-text{
   grid-column: span 2;
   font-family: 'Yeseva One', sans-serif;
   font-size: 18px;
}
.left-conteiner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
    row-gap: 45px;
  
    width: 40%;

}
.right-conteiner {
    display: flex;
    flex-direction: column;
    row-gap: 45px;
    width: 100%;

}

.button{
    background-color: black;
    border: none;
    width: 41px;
    height: 13px;
}
.button-point{
    background-color: black;
    border: none;
    width: 9px;
    height: 9px;
}
.main-left_text, .main-text{
    color: #FFFFFF;
}
.main-left_text{
    font-family: 'Nunito Sans',sans-serif;
    font-size: 13px;
}
.button-group{
    display: flex;
    flex-direction: row;
    gap: 17px;
}
.main__navigation{
    align-items: center;
    color: #E3B873;
}
.header-button{
    color: #FFFFFF;
    filter: brightness(30%);
    border: none;
    background-color: black;
    font-family: 'Yeseva One', sans-serif;
    font-size: 14px;
}
.header-buttonActive{
    color: #E3B873;
    filter: (100%);
    background-color: black;
    border: none;
    font-family: 'Yeseva One', sans-serif;
    font-size: 14px;
}
#main-image{
    width: 679px;
    height: 482.38px;
    object-fit: fill;
}
